html {
  box-sizing: border-box;
  font-family: 'Karla';
  font-size: 16px;
  font-weight: 400;
}

body {
  padding: 20px;
}

h2, h4, p {
  margin: 0;  
}

*, *:before, *:after {
  box-sizing: inherit;
}

#card {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 2px 9px 2px rgba(0,0,0,0.75);
  border-radius: 5px;
  overflow: hidden;
}

#top-section {
  width: 100%;
  height: 45%;
  padding: 25px;
}

#top-section h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top-section h4 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top-section p {
  color: #98a6bd;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

#bottom-section {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 55%;
}

#bottom-left-section {
  height: 100%;
  background-color: #2ab2af;
  padding: 25px;
}

#bottom-left-section h4 {
  margin-bottom: 25px;
}

#price-container {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

#price {
  font-weight: 700;
  font-size: 1.4rem;
}

#price-frequency {
  font-size: 0.8rem;
  opacity: 0.8;
  margin-left: 5px;
}

#bottom-left-section p {
  font-size: 0.8rem;
  margin-bottom: 15px;
}

button {
  background-color: #c0df34;
  color: #ffffff;
  border: none;
  padding: 20px;
  width: 90%;
  border-radius: 5px;
  margin-left: 5px;
}

button:hover {
  cursor: pointer;
  background-color: #A9C42D;
  transform: scale(1.02);
}

#bottom-right-section {
  background-color: rgba(42, 178, 175, 0.8);
  padding: 25px;
}

ul {
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  opacity: 0.8;
  margin-bottom: 2px;
}

@media (min-width: 576px) {
  #card {
    width: 550px;
    height: 400px;
  }
  
  #bottom-section {
    flex-direction: row;
  }
  
  #bottom-left-section, #bottom-right-section {
    flex-basis: 50%;
  }
}


